<html>
  <head>
    <title>Ultimate Game</title>
    <!-- <link rel='stylesheet' type='text/css' href="/client/css/gamestyle.css"/> -->
    <link rel='stylesheet' type='text/css' href='/dist/main.bundle.css' />
  </head>
  <body>
    <div id="canvas-container">
      <canvas id="canvas"></canvas>
    </div>
  </body>
  <!-- <script src="/public/js/game.bundle.js"></script> -->
  <!-- <script src='/socket.io/socket.io.js'></script>
  <script src='/node_modules/jquery/dist/jquery.min.js'></script>
  <script src='/lib/Util.js'></script>
  <script src='/client/js/game/Drawing.js'></script>
  <script src='/client/js/game/Game.js'></script>
  <script src='/client/js/game/Input.js'></script>
  <script src='/client/js/client.js'></script> -->
  <script src='/dist/client.bundle.js'></script>
</html>
